/* line 24, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_button.scss */
.btn_1 {
  display: inline-block;
  padding: 13.5px 45px;
  background-color: #ff5e13;
  font-size: 14px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: capitalize;
  border: 1px solid transparent;
}

/* line 33, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_button.scss */
.btn_1:hover {
  color: #fff !important;
  background-color: #001b5e;
}

@media (max-width: 991px) {
  /* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_banner.scss */
  .banner_part {
    height: 650px;
    background-image: none;
    
  }


}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 2, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_banner.scss */
  .banner_part {
    height: 650px;
    background-image: none;
    background-color: #f7f7f7;
  }
}

/* line 22, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_banner.scss */
.banner_part .banner_text {
  display: table;
  width: 100%;
  height: 500px;
}

/* line 26, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_banner.scss */
.banner_part .banner_text .banner_text_iner {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width: 991px) {
  /* line 26, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_banner.scss */
  .banner_part .banner_text .banner_text_iner {
    vertical-align: middle;
  }
}

@media (max-width: 991px) {
  /* line 22, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_banner.scss */
  .banner_part .banner_text {
    text-align: center;
    padding-top: 0px;
    height: 650px;
  }


}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 22, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_banner.scss */
  .banner_part .banner_text {
    height: 650px;
  }
}

/* line 42, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_banner.scss */
.banner_part .banner_text h1 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #556172;
  margin-bottom: 14px;
}

/* line 49, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_banner.scss */
.banner_part .banner_text h1 {
  font-size: 65px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 27px;
  line-height: 75px;
}

@media (max-width: 991px) {
  /* line 49, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 1.3;
  }


}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 49, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.4;
  }
}

/* line 65, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_banner.scss */
.banner_part .banner_text h1 span {
  color: #ff5e13;
}

/* line 70, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_banner.scss */
.banner_part .banner_text p {
  font-size: 15px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.banner_part .banner_text th,td {
  font-size: 15px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.banner_part .banner_text ul li {
  font-size: 20px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

/* line 76, /Applications/MAMP/htdocs/palash/cl/july 2019/190 Pexcon Construction/190 Pexcon Construction html/sass/_banner.scss */
.banner_part .banner_text .btn_1 {
  margin-top: 44px;
}

.footer{
  background: #000;
  color:white;
  
  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}







